*, *::before, *::after {
    box-sizing: border-box;   
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Open-Sans", sans-serif;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b1bdd5;
    width: 100vw;
    height: 100vh;
}

.main .container{
    background-color: #f3f6fb;
    border: #272e3a;
    box-shadow: #272e3a 1rem 1rem 3rem;
    padding: 3rem;
    height: 60rem;
    width: 98rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.main .container #canva{
    position: absolute;
}

.main .container #title {
    text-align: center;
    font-size: 2.5em;
    position: absolute;
    top: 3rem;
    left: 45rem;
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 20rem;
    height: 7rem;
    padding: 0.3rem;
    font-size: 2rem;
    background: #b1bdd5;
    box-shadow: 0.1rem 0.1rem 1rem;
    border-radius: 2%;
    pointer-events: none;
}

.overlay {
    position: absolute;
    background: #fff;
    pointer-events: none;
}

#y-axis path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

#x-axis path {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.info {
    font-size: 1.2rem;
    font-weight: 400;
}

@media only screen and (max-width: 1000px) {
    .main{
        width: 100rem;
    }
}