/* #region Main elements */

*, *::before, *::after {
    box-sizing: border-box;   
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

/* #endregion */

/* #region #animations */

@media(hover: hover){
    .hover-underline-animation{
        color: #031F29;
        display: inline-block;
        position: relative;
    }    
    .hover-underline-animation::after{
        background-color: #031F29;
        bottom: 0;
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }    
    .hover-underline-animation:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
/* 
#falling-star {
    position: absolute;
    background-color: #ecebeb;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 100%;
    animation-name: star-falling;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 999;
}
  
@keyframes star-falling {
    0% {
        transform: translate(0, 15vh);
        filter: brightness(0%);
        background-color: #000;
    }
    1%{
        background-color: #ecebeb;
        filter: brightness(100%);
        opacity: 1;
    }
    50% {
        transform: translate(99vw, 50vh);
        filter: brightness(90%);
    }
    100%{
        opacity: 0;
        background-color: #5e5d5d;
    }

}

#star-1{
    width: 0.6rem;
    height: auto;
    position: absolute;
    top: 65%;
    left: 68vw;
    z-index: 999;
    animation: bright-star 2.5s infinite alternate-reverse;
}


#star-2{
    width: 0.45rem;
    height:auto;
    position: absolute;
    top: 69%;
    left: 64vw;
    z-index: 999;
    animation: bright-star 3s infinite alternate-reverse;
}

#star-3{
    width: 0.5rem;
    height:auto;
    position: absolute;
    top: 60%;
    left: 72vw;
    z-index: 999;
    animation: bright-star 2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
}

@keyframes bright-star {
    0%{
        filter: brightness(50%);
    }
    50%{
        filter: brightness(100%);
    }
    100%{
        filter: brightness(70%);
    }
} */

/* #endregion */

/* #region navbar */

.carret:hover{
    cursor: pointer;
}
/* #endregion */

/* #region Media queries */
@media only screen and (max-width: 576px) {
    #main{
        height: fit-content;
    }
    #hero-area{
        position: relative;
        padding-top: 1.25rem;
    }
    #subtitle{
        width: 65vw;
    }    
    #main svg{
        width: 1.875rem;
    }
    #star-1{
        width: 0.25rem;
    }
    #star-2{
        width: 0.22rem;
    }
    #star-3{
        width: 0.2rem;
    }
    @keyframes star-falling {
        0% {
            transform: translate(0, 5vh);
            filter: brightness(0%);
            background-color: #000;
        }
        1%{
            background-color: #ecebeb;
            filter: brightness(100%);
            opacity: 1;
        }
        50% {
            transform: translate(99vw, 10vh);
            filter: brightness(90%);
        }
        100%{
            opacity: 0;
            background-color: #5e5d5d;
        }
    
    }
}
/* #endregion */