*, *::before, *::after {
    box-sizing: border-box;   
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
    font-family: "Open-Sans", sans-serif;
}

section {
    height: 100vh;
    background-color: #B0AD74;
}

.hero {
    background-image: linear-gradient(to bottom,#03151C 85%, #5289A1);
    height: 100vh;
    font-size: 2rem;
    color: #FFD4DB;
}

footer{
    height: 50vh;
    background-color: #03151C ;
    color: #FFD4DB;
    text-align: center;
    padding: 6rem;
}

footer p{
    margin-top: 1rem;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 50rem;
    font-size: 1.8rem;
}

ul.show {
    display: block;
    list-style-type: none;
    justify-content: space-around;
    width: 50rem;
    font-size: 1.8rem;
}

li {
    text-decoration: none;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: #03151C;
}

li a {
    color: #B0AD74;
}

li a:hover {
    color: #FFD4DB;
}

h1 {
    font-size: 7rem;
    font-weight: 600;
}

h2{
    font-size: 6rem;
    font-weight: 500;
}

h3{
    font-size: 3rem;
    font-weight: 300;
}

.subtext {
    font-size: 1rem;
    font-weight: 200;
    height: fit-content;
}

.hero-text p {
    font-size: 2rem;
    font-weight: 400;
}

.information p{
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
}

.hero-area{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-top: 3rem;
    justify-content: space-evenly;
    margin-left: 5rem;
}

.hero-text div, h1, p {
    margin-bottom: 1.2rem;
}

.button {
    width: 15rem;
    height: 3rem;
    background-color: #5289A1;
    color:  #03151C;
    border: solid #B0AD74 0.15rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 2.2rem;
}

.button:hover {
    background-color: #03151C ;
    cursor: pointer;
    color: #FFD4DC;
    font-weight: 400;
}

.button a:hover{
    color: #FFD4DC;
}

.hero-logo {
    max-height: 10rem;
    border-radius: 100%;
    height: 7.5rem;
    margin: 0.5rem 3rem;
}

.social {
    margin: 2rem;
}

.social svg{
    width: 3rem;
    height: 3rem;
}

.sub-section-style1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8rem;
    align-items: center;
}


.sub-section-style2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8rem;
    height: fit-content;
}


.headshot {
    width: 25rem;
    border-radius: 100%;
}

.headshot-container {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.project-card {
    width: 25rem;
    height: 50rem;
    box-shadow: #403E16 0.3rem 0.6rem 1rem;
    text-align: center;
    padding: 2rem;
    align-items: center;
    margin: 1rem;
}

.projects-container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {

    .projects-container{
        display: flex;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 680px) {

    .sub-section-style1 {
        height: fit-content;
    }
    .headshot{
        width: 15rem;
    }
}

hr {
    border-color: #03151C;
}

.project-image {
    margin-top: 2.5rem;
    max-width: 21rem;
    border-radius: 100%;
    width: 100%;
}

.hamburguer {
    display: none;
}

.hamburguer:focus{
    outline: 0;
}

@media only screen and (max-width: 600px) {

    .hamburguer {
        margin: 2rem;
        border: 0;
        background-color: transparent;
        color: #FFD4DC;
        font-size: 3rem;
        display: block;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #03151C;
        margin: 0;
    }

    ul.show {
        display: block;
    }

    li{
        margin-bottom: 1.5rem;
    }

    nav {
        align-items: flex-start;
        display: flex;
        flex-direction: column-reverse;
        background-color: #03151C;
    }

    .hero-logo {
        display: none;
    }
    
}